.cart_heading{
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #725ac1;
}

.cart_heading a{
    display: inline-block;
    padding: 9px 10px;
    border-radius: 10px;
    background-color: #725ac1;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.2s;
}
.cart_heading a:hover{
    border: 1px solid #725ac1;
    background-color: transparent;
    color: #725ac1;
}
.cart_listing{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkout{
    padding: 2rem 0;
    border-top: 1px solid #725ac1;
}
.checkout p{
    font-size: 1.2rem;
}
.checkout p span{
    font-size: 1.5rem;
    color: #725ac1;
}
.checkout button{
    all: unset;
    display: inline-block;
    padding: 9px 25px;
    border-radius: 5px;
    background-color: #725ac1;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
 }