.product_details{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid #5c6278;
    border-radius: 20px;
    background: #fff;
    padding: 1rem;
}

.product_image{
    width: 80%;
    height: 250px;
    margin-inline: auto;
}

.product_details:hover{
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.2);
}
.action_buttons{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
}
.action_buttons .addToCart{
    all: unset;
    /* width: 100%; */
    font-size: 12px;
    background-color: #565c6a;
    padding: 9px 15px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #565c6a;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.action_buttons .addToCart:hover{
    background: transparent;
    color: #565c6a;
}
.single_product{
    color: #725ac1;
    font-size: 15px;
}

.product_price{
    margin: 20px 0;
}

@media screen and (min-width: 580px) and (max-width: 767px) {
    .product_details{
        gap: 1rem;
    }
    .cart_heading{
        margin-top: 2rem;
        align-items: center;
        gap: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #725ac1;
    }
    .product_price{
        margin: 18px 0;
    }
  }


  @media screen and (min-width: 320px) and (max-width: 579px) {
    .product_details{
        gap: 0.8rem;
    }
    .product_image{
        width: 100%;
        height: 220px;
        margin-inline: auto;
    }
    .product_info p {
        font-size: 14px;
        line-height: 20px;
    }
    .product_price{
        margin: 10px 0;
    }
    .action_buttons{
        flex-direction: column;
        align-items: start;
    }
  }