.backdrop, .modalInfo{
    display: grid;
    place-items: center;
}
.backdrop{
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}



.modal-block{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 40%;
    height: 200px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 1rem;
}

.modalInfo{
    text-align: center;
    height: 100%;
    color: #725ac1;
    font-size: 1.2rem;
    /* font-style: italic; */
    user-select: none;
}

.close_modal_btn{
    all: unset;
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 3px;
    background: #725ac1;
    color: #fff;
    border-radius: 3px 5px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 579px) {
    .modal-block{
        width: 60%;
    }
  }